@import url("normalize.min.css");
@import url("stylesheet.css");
@import url("wysiwyg.css");
/* ==========================================================================
   
   ========================================================================== */

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}

::selection {
 background: #b3d4fc;
 text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
img {
	vertical-align: middle;
}
textarea {
	resize: vertical;
}


/* ===================

   =================== */

  body#top {
	background-repeat: no-repeat;
	background-position:0 0px;
}  

#sp-layout-body-part{
	position: relative;
}

.header-container {
	position: relative;
	height: 200px;
}

#logo-header {        
  background:transparent url("../imgDesign/logo.png") no-repeat scroll 0 0 ;
  height: 44px;
  left: 1em;
  position: absolute;
  top: 52px;
  width: 247px;
  z-index: 0;
}

#topar-header {
	background:#515e66 url() top left repeat-x;
	height:42px;
}

.infoConnections  {
	line-height:23px;
	padding:0;
	margin:0;
}

.btn-header{
	background-color:#f1f1f1;
	background: linear-gradient(to bottom, #FFFFFF 0%, #f5f5f5 100%);
	border:1px solid #ccc;
	border-radius:2px;
	display:block;
	padding:0 0.5em 0 0.5em;
	color:#5b5b5b;
	position:relative;
	height:23px;
	line-height:23px;
	float:left;
	margin-right:8px;
	margin-top:3px;
  width:150px;
  overflow:hidden;
}
.btn-header a {
	color:#5b5b5b;
}

.avatarName .btn-header > a {
	color:#FFF;
}

.header-container #infoConnection .avatarName  .btn-header{
	padding-right:2em;
  width:auto;
}


#notification-count.btn-header {
	background:#fdf4c3;
	border:1px solid #f9e98e;
}

/* The CSS */
.select-header select {
	width:108px;
    padding:0 3px 0 0;
    margin: 0;
    background:transparent;
    color:#5b5b5b;
    border:none;
    outline:none;
    display: inline-block;
		-webkit-appearance:none;
		-moz-appearance:none;
    appearance:none;
    cursor:pointer;
	min-height:19px;
	line-height:150%;
  width:190px;
}

.select-header select option{
	background-color:#F5F5F5
	}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-header select {padding-right:27px}
}

label.select-header {
	position:relative;
	padding: 0;
}
label.select-header:after {

}
label.select-header:before {
    content:'';
   display:inline-block;
	background:transparent url(../imgDesign/arrow_down.png) no-repeat 8px 7px;
	vertical-align:middle;
	font-size:0;
  left:130px; 
	top:1px;
	line-height:20px;
    width:20px; 
	height:18px;
    position:absolute;
    pointer-events:none;
    display:block;    
	color:#2f3135;
	white-space: pre-wrap;
    
}

.header-container #infoConnection {
	left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
}

.header-container #infoConnection .avatarName  {
	position:relative;    
	display: inline-block;
	float:left;
}

.header-container #infoConnection .avatarName  .btn-header{
	background:transparent;
	border-color:transparent;
	padding-left:0;
	padding-right:0;
}


.header-container #infoConnection > a:first-child {
	width:30px;
	height:30px;
	border-radius:25px;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:0.25em;
}
.header-container #avatar-img {
	width:30px;
}

.header-container #infoConnection #show-menu-spacePerso {
	background:transparent url("../imgDesign/packImages.png") 0 -5px no-repeat ;
	opacity:0.5;
	display:inline-block;
	width:25px;
	height:20px;
	text-indent:-3000px;
}

.header-container #infoConnection #show-menu-spacePerso:hover {
	opacity:1;
}

.spacePerso{
	display:none;    
}

#infoConnection {
	border-top:0;
}

#infoConnection ul { 
  left: 0;
  right:0;
  min-width:150px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  z-index:104;
  border:1px solid #CCC;
  background-color:#f5f5f5;
  border-radius:2px;
}
#infoConnection ul li {
	padding:0;
}
#infoConnection ul li a {
	font-size:14px;
	display:block;
	line-height:120%;
	padding:0.25em;
}
#infoConnection ul li a:hover, #infoConnection .directoryLink:hover, #infoConnection .logOut:hover {
	background-color:#3399ff;
	color:#FFF;
}

 .header-container #outils {
    bottom: auto;
	top:0x;
    color: #fff;
    position: absolute;
    right: 10px;
	left:auto;
    text-align: left;
    width: auto;
	padding:0;
	margin:0;
}
.header-container #outils li {
	display:inline-block;
	margin: 0;
	padding: 0;
	padding-top:10px;
}

.header-container #outils li a {
	color:#222;
	text-indent:-3000px;
	display:inline-block;
	width:1px;
	height:23px
}

.header-container #outils li#connectedUsers a {
	color:#FFF;
	text-indent:0;
	display:inline-block;
	width:auto;
	padding-right:25px;
}

.header-container #outils li a,
#search-zone-header a {
	opacity:0.9;
}
.header-container #outils li a:hover,
#search-zone-header a:hover {
	opacity:1;
}
	
.header-container #outils li a#connectedUsers {
}

.header-container #map-link-header {
	border-top:3px solid #3fbba3;
}
.header-container #map-link-header a{
	background:transparent url(../imgDesign/packImages.png) -2px -255px no-repeat;
	padding-left:25px;
}

.header-container #help-link-header  {
	border-top:3px solid #ff828a;
}
.header-container #help-link-header a {
	background:transparent url(../imgDesign/packImages.png) -2px -49px no-repeat;
	padding-left:25px;
}

.header-container #directory-link-header  {
	border-top:3px solid #00b2c8;
}
.header-container #directory-link-header a {
	background:transparent url(../imgDesign/packImages.png) 0 -289px no-repeat;
	padding-left:25px;
}

.header-container #adminstration-link-header  {
	border-top:3px solid #e32338;
}
.header-container #adminstration-link-header  a {
	background:transparent url(../imgDesign/packImages.png) 0 -90px no-repeat;
	padding-left:25px;
}
.header-container h1 {
	display:none;
}

#search-zone-header {
	position: absolute;
	right: 0;
	top:50px;
	background-color:#FFF;
	border-bottom:0;
	height:49px;
	padding:7px 1em 0;
}

#search-form-header a {
	opacity:1 !important;
	padding:0 0.5em;
}

#search-zone-header a, 
#search-zone-header label {
	color: #A6A6A6;
	margin:0;
	font-size:13px;
}

#search-zone-header label:after {
	color: #A6A6A6;
	content:" :";
}

#search-zone-header > a span {
	display:block;
	line-height:20px;
	}
  
#search-zone-header > a {
	padding:4px 0 0 5px;
	float:right;
}
#search-zone-header > * {
	display: inline-block;
	color:#222;
}
#search-form-header {
	display:inline-block;
}
#search-form-header input {
	border:0;
	border:1px solid #dddddd;
	background:#FFF url() ;
	padding:0 8px;
	margin:0;
	width:182px;
	height:24px;
	color:#999;
	font-size: 0.90em;
	vertical-align:middle;
	border-radius:4px;
}

#lastResult-link-header span {
	background: transparent url(../imgDesign/packImages.png) 0 -219px no-repeat;
	padding-left:30px;
}

#advancedSearch-link-header span {
	background: transparent url(../imgDesign/packImages.png) 0 -176px no-repeat;
	padding-left:35px;
}

/* ==============
    Menu
   ============== */
#nav {
	position: relative;
	margin-top:67px;
	width: 100%;
	height:41px;
	z-index:2;
	border: 1px solid #CCC;
	text-align:center;
}

#nav a:hover {
	color:#000;
}

#nav > ul {
	margin: 0 auto;
	padding:0;
	background:#FFF url();
	height:41px;
	width:auto;
	position: relative;
	display: table;
	border-left: 1px solid #CCC;
}

#main-menu > li > a {    
  display: block;
  padding:0 1em; 
  height: 41px;
  line-height:41px;
  text-decoration: none;
  text-align:center;
  margin-right:0;
	border-right: 1px solid #CCC;
}

#main-menu a  {
	font-size:14px;
	font-weight:100;
	text-transform:uppercase;
	color:#515E66;
}

#nav ul ul a span  {
	line-height:100%;
	font-size:10pt;
}
#nav > ul > li {    
	display: table-cell;
	width:auto;
	margin: 0;
	padding:0;
	text-align:right;
	position:relative;
}

#main-menu li:first-child a span{
	display:block;
	text-indent:-300em;
	background:#fff url(../imgDesign/packImages.png) -2px -123px no-repeat;
	width:16px;
}

#main-menu > li:nth-child(2) > a {
  color:#3fbba3;
 }
#main-menu > li:nth-child(2) > a:hover,
#main-menu > li.selected:nth-child(2) > a {
  background-color:#3fbba3;
  color:#fff
 }
#main-menu > li:nth-child(3) > a {
  color:#f04f33;
 }
#main-menu > li:nth-child(3) > a:hover,
#main-menu > li.selected:nth-child(3) > a {
  background-color:#f04f33;
  color:#fff
 }
#main-menu > li:nth-child(4) > a {
  color:#00b2c8;
 }
#main-menu > li:nth-child(4) > a:hover,
#main-menu > li.selected:nth-child(4) > a {
  background-color:#00b2c8;
  color:#fff
 }
#main-menu > li:nth-child(5) > a {
  color:#cb625c;
 }
#main-menu > li:nth-child(5) > a:hover,
#main-menu > li.selected:nth-child(5) > a {
  background-color:#cb625c;
  color:#fff
 }
#main-menu > li:nth-child(6) > a {
  color:#556392;
 }
#main-menu > li:nth-child(6) > a:hover,
#main-menu > li.selected:nth-child(6) > a {
  background-color:#556392;
  color:#fff
 }
#main-menu > li:last-child > a {
  border-radius:0;
 }
 
 
 #pp {
	background-color:#f3f2f2;
	border-top:1px solid #d8d8d8;
	height:30px;
	padding:10px
 }
 
 #pp a {
	color:#006198;
	text-decoration:underline;
 }
 
.right-main-container {
	float:right;
	width:25%;
	padding-right:1em;
	margin-top:18px;
}

.right-main-container .link-more{
	float:right;
	width:40px;
	height:33px;
	text-indent:2000px;
	white-space:nowrap;
	background:#FFF url(../imgDesign/packImages.png)  4px -382px no-repeat;        
	margin-top: -46px;
	opacity:0.7;
}

.right-main-container .link-more:hover{
	opacity:0.85;
}

#user-favorit-home .link-more{
	text-indent:-2000px;
	background:#FFF url(../imgDesign/packImages.png)  center -340px no-repeat;    
	margin-top: -10px;
	padding-bottom:4px;
	display: block;
	width: 100%;
}

#user-favorit-home .link-more.less{
	background:#FFF url(../imgDesign/packImages.png)  -4px -422px no-repeat;    
	margin-top: -10px;
	padding-bottom:4px;
}

#user-favorit-home .link-more.less:hover{
	background-position: -4px -426px;
}

#home-event h2,
.secteur-container h4,
.spaceHome #spaceManager h2.portlet-title,
.spaceHome #spaceEvent h2.portlet-title, .spaceHome #spaceQuiskInfo h2.portlet-title,
.titre-formulaire-projet,
#portletPages dl.sort dt,
#preview .publiName, #preview-clone .publiName,
#portletPages h2.portlet-title{
  color:#FFF;
  font-family:kabel_medium,"Trebuchet MS",sans-serif;
  font-weight:normal;
  background:#515E66  url() no-repeat scroll left bottom ;
  border-bottom: 0 none;
  margin-top: 0;
  line-height:200%;
  margin:0;
  float:none;
  font-size:20px;
  text-transform: uppercase;
  padding-left:0.5em;
}


#portletPages #thick dl:nth-child(1) dt{
	background:#3fbba3  url() no-repeat scroll left bottom ;
}

#portletPages #thick dl:nth-child(2) dt{
	background:#bae265  url() no-repeat scroll left bottom ;
}

#portletPages #thick dl:nth-child(3) dt{
	background:#e9007d  url() no-repeat scroll left bottom ;
}

#portletPages #thick dl:nth-child(4) dt{
	background:#7b7829  url() no-repeat scroll left bottom ;
}

#portletPages #thick dl:nth-child(5) dt{
	background:#ef702b  url() no-repeat scroll left bottom ;
}

#portletPages #thin dl:nth-child(1) dt{
	background:#740055  url() no-repeat scroll left bottom ;
}

#portletPages #thin dl:nth-child(2) dt{
	background:#007889  url() no-repeat scroll left bottom ;
}

#portletPages #thin dl:nth-child(3) dt{
	background:#f04f33  url() no-repeat scroll left bottom ;
}

#portletPages #thin dl:nth-child(4) dt{
	background:#546291  url() no-repeat scroll left bottom ;
}

#portletPages #thin dl:nth-child(5) dt{
	background:#f3776f  url() no-repeat scroll left bottom ;
}

.titre-formulaire-projet,
#preview .publiName, #preview-clone .publiName{
	color:#515E66;
	font-family:kabel_medium,"Trebuchet MS",sans-serif;
	font-weight:normal;
	background:#FFF  url() no-repeat scroll left bottom ;
	text-transform:inherit;
	padding-left:0;
}

.spaceHome h1.spaceName {
  font-weight:100;   
  background: url() no-repeat scroll left bottom rgba(0, 0, 0, 0);
  padding-bottom: 10px;
  margin:18px 0 7px;
	color:#808080;
	font-size:20px;
	border-bottom:1px solid #eee;
	line-height:200%;
}

#portletPages h2.portlet-title {
	background:url();
}

#portletPages ul.portlet-options {
  position: absolute;
  right: 0px;
  top: 5px;
  background-color: #FFF;
  opacity: 0.8;
  border-radius: 8px;
  padding: 1px 4px;
}

#bloc-advancedSeach h4 {
	color:#FFF;
	background:#c20e1a url() ;
}

#bloc-advancedSeach,
.bgDegradeGris,
#spaceQuiskInfo,
#spaceEvent,
#spaceManager.portlet,
#portletPages dl.sort {
	background:#f6f5f5;
 border-width: 1px;
    border-style: solid;
    border-image: none;
    border-color: #E5E5E5 #CBCBCB #CBCBCB #E5E5E5;
    box-shadow: 2px 2px 2px 0px #CBCBCB;
}

.bgDegradeGris .bgDegradeGris {
    border-radius:0;
}

.bgDegradeGris p, .bgDegradeGris .paragraphe {
    padding: 11px 17px 11px;
}

#bloc-advancedSeach form  {
	padding-left:1em;
}

#portletPages dl.sort dt {
	margin:0;
	height:38px;
	position:relative;
	padding-left:0;
}

#portletPages dl.sort dt h2{
	padding-left:10px;
}

#directory #indexAndSearch .milieuBoutonV5 a {
	padding:1px 5px 2px;
	
}

#portletPages div.portlet-content {
	padding-left:10px;
}

.spaceHome #spaceQuiskInfo h2.portlet-title ,
.spaceHome #spaceManager h2.portlet-title {
	margin-top:0;
	margin-bottom:0;
	border-bottom:0;
}

.spaceHome #spaceEvent h2.portlet-title {
	border-bottom:0;
}

.right-main-container 
.secteur-container h4{
	clear:both;
}

#home-event h2,
.right-main-container .secteur-container h4{
	clear:both;
}

#home-event  {
	position:relative;
	margin-bottom:3em;
}

#home-event .link-more {
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
}

#home-event ul.eventList {
	margin:0; padding:0;
}

#eventList .eventInfo  {
	border:0;
	padding:0;
	margin:0 0 0 -16px;
}

.portlet li.events {
	background:#FFF url();
}

.portlet div.eventShortDate {
    background: url("../imgDesign/bgCalendar-portlet.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}
	
.portlet div.eventLongDate {
    color: #666666;
}

.portlet div.eventShortDate .number {
    color: #0BA6CE;
}

.portlet div.eventShortDate {
    color: #717171;
}

/*** FORMULAIRE **/

#principal-formulaire {
	float:left;
	width:70%;
}

#droite-formulaire {
	float:right;
	width:25%;
	padding:2em 2%;
}

#principal-formulaire .eventInfo {
	margin:0 0 1em;
}

#principal-formulaire  .a-propos-formulaire-projet-main-container {
	margin:0 0 1em;
}

#principal-formulaire .eventPlace  img{
	max-width:200px;
	max-height:150px;
}

/*** FAQ ***/
#faq-home {
	margin-bottom:2em;
}
#faq-home h4{
	background-color:#3fbba3;
}
.FAQ-entry-main-container {
	padding:1em;
}
.FAQ-entry-main-container,
.a-propos-formulaire-projet-main-container {
    background: url("../imgDesign/packImages.png") 1em -616px no-repeat;
    clear: left;
	margin: 0;
    padding-top: 0px;
    text-indent: 37px;
}

.FAQ-entry ,
.a-propos-formulaire-projet{
    background:transparent url("../imgDesign/packImages.png") bottom right no-repeat;
    padding-bottom: 10px;    
	max-height: 232px;
    overflow: auto;
}

.FAQ-entry-main-container .link-add {
    float: none;
}

.FAQ-entry-main-container .link-add span strong {
    color: #3FBBA3;
}

.link-add ,
#submit-AdvancedSearch{
    background: url("../imgDesign/packBtn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: right;
    height: 32px;
    margin: 1em 0;
    padding-left: 10px;
}

#submit-AdvancedSearch {
    float: none;
}

.link-add span,
#submit-AdvancedSearch span {
  background:transparent url(../imgDesign/packBtn.png) right 0 no-repeat;
  color: #8D5C9F;
  display: block;
  line-height: 32px;
  padding-right: 50px;
}
#submit-AdvancedSearch span {
  background:transparent url(../imgDesign/packBtn.png) right -700px no-repeat;
  color: #333;
}

.FAQ-entry-main-container .link-add span {
  background-position: right -32px;
  color: #333333;
  text-indent: 10px;
}

/*** END FAQ ***/

/*** WEATHER ***/
#weather-home h4 {
	background-color:#f04f33
}

#weather-home > div {
	padding:0 0 0 1em;
}
#weather-home  #ephemeride {
	font-style:italic;
	margin:1em 0;
	color:#ec8601;
}
#weather-home  #ephemeride:before {
	content:'Nous fêtons les ';
	color:#000;
}
#weather-home,
#faq-home {
  border-width: 1px;
  border-style: solid;
  border-image: none;
  border-color: #E5E5E5 #CBCBCB #CBCBCB #E5E5E5;
  box-shadow: 2px 2px 2px 0px #CBCBCB;
  margin-bottom:1em;
}

#weather-home {
	height:200px;
}

#home-event {
  border-width: 1px;
  border-style: solid;
  border-image: none;
  border-color: #E5E5E5 #CBCBCB #CBCBCB #E5E5E5;
  box-shadow: 2px 2px 2px 0px #CBCBCB;
  margin-bottom:2em;
	}

.portlet-content,
.spaceHome #spaceQuiskInfo .slideshow {
	padding:1em;   
	}

#localisation-weather{
	margin-bottom:1em;
}
#localisation-weather a{
	color:#b8b8b8;
}
#localisation-weather a:hover,
#localisation-weather .select,
#localisation-weather .label{
	color:#ec8601;
}
#weather-home .day{
	width:40%;
	float:left;
}
#weather-home .day img{
	height:45px;
	float:left;
}
#weather-home .min{
	color:#f8931d;
}
#weather-home .max{
	color:#f60b3c;
}
#weather-home .day .label{
	clear:left;
	color:#b8b8b8;
	font-size:11px;
	text-align:center;
	width:61px;
}
#today-event {
	clear:both;
	padding-top:1em;
}

/*** END WEATHER ***/

/*** PDC ***/

#bloc-advancedSeach #query {
	margin:0.5em 0;
	width:90%;
}
#bloc-advancedSeach #used_pdc .field .champs.pdcAxis img{
	display:none;
}

#bloc-advancedSeach #used_pdc .field label {
    display: block;
    float: left;
    padding: 5px 5px 5px 5px;
    width: 111px;
}

#bloc-advancedSeach  #used_pdc .field .champs select {
    width: 160px;
}

#bloc-advancedSeach #used_pdc .field {
    padding-left: 0;
}


#submit-AdvancedSearch:hover span{
	opacity:1;
	}

/*** END PDC ***/
#user-favorit-home ul  {
	list-style-image:url(../imgDesign/puce-favorit.png);
	padding:0 0 0 15px
 }
#user-favorit-home ul  a{
	line-height:10pt;
	display:block;
 }
#user-favorit-home ul  li{
	padding-bottom:1em;
 }
#user-favorit-home ul  a:hover{
	color:#c20e1a;
 }
 
.user-favorit-main-container{
	padding:1em;
}
 
 .principal-main-container {
	margin:0 27% 0 1em;
	padding-top:18px;
 }
  .principal-main-container .secteur-container h4,
#user-favorit-home   h4,
#weather-home.secteur-container  h4{
	padding-left:0.5em;
 }
 
 #user-favorit-home   h4 {
	background-color:#00b2c8;
 }
 
#user-favorit-home {    
  width: 300px;
  position: absolute;
  left: 1em;
  top: 240px;
  border-width: 1px;
  border-style: solid;
  border-image: none;
  border-color: #E5E5E5 #CBCBCB #CBCBCB #E5E5E5;
  box-shadow: 2px 2px 2px 0px #CBCBCB;
 }
 
#cg-favorit-home h4{
	display:none;
}

 #cg-favorit-home {
	width:320px;
	position:absolute;
	box-shadow:0;
 }
 
  .principal-main-container .cg-favorit-list {
	margin:0;
	padding:0;
	list-style-type:none;
 }
 
  .principal-main-container .cg-favorit-list li{
	margin-bottom:0.5em;
 }
 
  .principal-main-container .cg-favorit-list li a{
	padding-left:10px;
 }
  
  .principal-main-container .cg-favorit-list a {
	color:#8c8c8c;
	font-size:12pt;
	float:left;
	padding-bottom:10px;
 } 

.principal-main-container .cg-favorit-list a span {
	display:none
 }
 
.principal-main-container .cg-favorit-list a img {
	width:95%;
 }
 
  .principal-main-container .cg-favorit-list a:hover img{
	box-shadow:         3px 3px 4px 0px rgba(50, 50, 50, 0.25);
	border-radius:42px;
 }
 
 .rslides  {
	padding:0;
 } 
 
 .rslides li,
 .rslides li img {
	width:100%;
 } 

 .rslides li {
  height: auto; 
}
 
 #carrousel-actualite  {
	margin-left:320px;
	position:relative;
	overflow:hidden;
 }
 
 #last-publication-home {
  clear: left;
  float: left;
  margin-left: 320px;
  margin-right: 0;
  margin-top: 1em;
 }
 
.last-publication-list,
.spaceHome #publicationList {
	padding:0;
	margin:1em 0 0 0;
 } 
 .last-publication-list li,
.spaceHome #publicationList li {
	padding:0;
	margin:0;
	border-bottom: 1px  solid #E5E5E5;
	list-style-type:none;
 }
 
.spaceHome #publicationList li {
	padding:0.5em 0 ;
}
 .spaceHome .bgDegradeGris {
    color:inherit;
}
 
  #last-publication-home {
	text-align:center;
  }
 
 #last-publication-home h4,
.spaceHome #publication .header h4 {
  color: #515E66;
  font-family: kabel_medium,"Trebuchet MS",sans-serif;
  font-weight: normal;
  background: #FFF url("") no-repeat scroll left bottom;
  border-bottom: 1px dashed #515E66;
  line-height: 100%;
  margin: 0px auto;
  float: none;
  font-size: 20px;
  text-transform: initial;
  padding: 0.5em;
  display:inline-block;
  min-width:inherit;
 }
 
 .spaceHome #publicationList {
	text-align:left;
 }
 .spaceHome .spaceNavigation li a {
	line-height:100% !important;
 }
 
 .spaceHome .spaceNavigation li p {
  margin: 0;
}
 
 #last-publicationt-main-container {
	text-align:left;
 }
 
 #carrousel-actualite .centered-btns_nav {
  z-index: 3;
  position: absolute;
  top: 50%;
  left:1em;
  opacity: 1;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 40px;
  width: 30px;
  background:transparent url(../imgDesign/arrows_swiper.png);
}

 #carrousel-actualite .centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 1em;
}

#carrousel-actualite .caption {
  position: absolute;
  display: block;
  top: 22px;
  bottom: auto;
  left: auto;
  right: 55px;
  padding: 15px;
  text-align: center;
  background: #6fcde6 none repeat scroll 0% 0%;
  color: #FFF;
  margin: 0px;
  width: 230px;
  max-height: 240px;
  overflow: auto;
  border:6px solid #00b2c8
}
#carrousel-actualite .caption  p,
#carrousel-actualite .caption a {
  color: #FFF;
}
 
 #carrousel-actualite li>a {
 	font-weight: bold;
 }
 
 #actualite-magique-home {
	clear:left;
 }
 
 .actualite-magique-main-container {
	background-color:#f9f8f8;
	margin-top:-12px;
 }
 
 #la-magie {
	float:left;
	margin-right:46px;
 }

 .actualite-magique-main-container span {color:#f8931d;font-size:120%; padding-top:1em ; display:block}
 .actualite-magique-main-container ul {margin:0 ; padding:0 0 0 12px; list-style-image:url(../imgDesign/puce.png);}
 .actualite-magique-main-container ul li{margin:1em 0 0 12px ; padding:0;}
 .actualite-magique-main-container strong {display:block; text-transform:uppercase}
 
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
}
a, 
a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}

    /*
     * Don't show links for images, 
or javascript/internal links
     */

    .ir a:after, 
a[href^="javascript:"]:after, 
a[href^="#"]:after {
 content: "";
}
pre, 
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group; /* h5bp.com/t */
}
tr, 
img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
 margin: 0.5cm;
}
p, 
h2, 
h3 {
	orphans: 3;
	widows: 3;
}
h2, 
h3 {
	page-break-after: avoid;
}
}



/****** Ticker ******/
#top #desktop-notifications-permission {
  background: url('/silverpeas/util/icons/cog.png') no-repeat scroll 0 0 transparent;
  line-height: 17px;
  padding-left: 20px;
  position: absolute;
  right: 0;
  top:1px;
  padding-right:1em;
  font-weight:bold;
  color:#333
}

#top #ticker {
  display:none;
  background-color: #fbf7aa;
  height: 22px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 86px;
  z-index:1;
  border-top:1px solid #f9e98e;
  border-bottom:1px solid #f9e98e
}

#sp-ticker .ticker-wrapper.has-js {
  background-color: transparent;
  border-radius: 0;
  display: block;
  font-size: 0.75em;
  height: 22px;
  margin:0;
  padding: 0;
  width: 100%;
}
#sp-ticker {
	display:block;
}

#sp-ticker .ticker {
  background-color: transparent;
  display: block;
  height: 22px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#sp-ticker .ticker-title {
padding-top: 2px;
padding-left:1em;
color: #333;
font-weight: bold;
background-color: transparent;
text-transform: uppercase;
}
#sp-ticker .ticker-content {
margin: 0px;
padding-top: 3px;
position: absolute;
color: #333;
font-weight: 100;
background-color: transparent;
overflow: hidden;
white-space: nowrap;
line-height: 1.2em;
padding-left:1em;
}

#sp-ticker .ticker-content .ticker-item-date {
	color: #333;
}

#sp-ticker a span{
	color: #333;
}

/********************** ***************************/

#rightSide {
    padding: 0 1em;
    width: 67%;
}

#DropZone {
	width:98% !important;
}

 #portletPages.rightContent {
	padding-right:1em;
 }
 
 body > form {
	height:auto;
 }
