#carrousel-actualite .link-more {
  display: none;
}

#carrousel-actualite h4 {
  display: none;
}

.portlet .eventInfo div.eventApp {
  display: none;
}

#directory #indexAndSearch #search input {
  width: 214px;
}


#search-form-header #select-user-group-queryDirectory {
  vertical-align: middle;
  text-align: left;
  z-index: 1002;
}

#search-form-header #select-user-group-queryDirectory .search-input-container {
  display: inline-block;
  align-items: center;
  min-width: auto;
}

#search-form-header input#query,
#search-form-header #select-user-group-queryDirectory .search-input-container input {
  width: 18em;
  padding: 0 1em;
  margin: 0 !important;
}

#search-zone-header a, #search-zone-header label {
  vertical-align: middle;
}

#search-form-header #select-user-group-queryDirectory .selectize-input {
  padding: 0;
}

#search-zone-header #inputSearchSwitchable {
  display: inline-block;
  position: relative;
}

#search-zone-header #inputSearchSwitchable .switchSearchMode {
  position: absolute;
  right: 0.5em;
  top: 0.6em;
  background: transparent url(../icons/switchSearchMode.png) 0 0;
  width: 15px;
  min-width: 15px;
  padding: 0;
  height: 16px;
  display: block;
  cursor: pointer;
  z-index: 1003;
}

#search-zone-header #inputSearchSwitchable .switchSearchMode:hover,
#search-zone-header #inputSearchSwitchable .switchSearchMode:focus {
  box-shadow: inherit;
}

#search-zone-header #inputSearchSwitchable .switchSearchMode span {
  display: none;
}

#search-zone-header #inputSearchSwitchable .switchSearchMode.platform.on {
  background: transparent url(../icons/switchSearchMode.png) 0 0;
}

#search-zone-header #inputSearchSwitchable .switchSearchMode.directory.off {
  background: transparent url(../icons/switchSearchMode.png) right 0;
  right: 2.5em
}

#search-zone-header #inputSearchSwitchable .switchSearchMode.platform.off {
  background: transparent url(../icons/switchSearchMode.png) 0 bottom;
}

#search-zone-header #inputSearchSwitchable .switchSearchMode.directory.on {
  background: transparent url(../icons/switchSearchMode.png) right bottom;
  right: 2.5em
}

#user-favorit-home .link-add.manage {
  display: none;
  float: none;
  margin-top: 0;
}

#localisation-weather a span::after {
  content: " /";
}

#localisation-weather a:last-child span::after {
  content: "";
}

/* pour le flux rss presentation .aggregate ou .rss_tab */
#rssNews .rss_type {
  margin-bottom: 0.5em
}

#rssNews.onceChannel-true .rss_type {
  display: none;
}

#rssNews .rss_type a {
  margin: 0 .25em .15em 0;
  background-color: #5c5c5c;
  color: #FFF;
  padding: .35em .5em;
  line-height: 1em;
  font-size: .9em;
  display: inline-block;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  position: relative;
}

#rssNews .rss_type a:hover {
  background-color: #acacac;
  border: 1px solid #acacac;
  cursor: pointer;
}

#rssNews.aggregate .rss_type a:hover::after {
  content: 'x';
  padding-left: 1em;
}

#rssNews .rss_type a.off {
  background-color: #acacac;
  border: 1px solid #acacac;
}

#rssNews.aggregate .rss_type a.off::after {
  content: 'x';
  padding-left: 1em;
}

#rssNews .rss_type a.off:hover {
  background-color: #5c5c5c;
  border: 1px solid #5c5c5c;
}

#rssNews ul {
  list-style-type: none;
  padding: 0 0 20px 0;
  margin: 0;
  border-top: 1px solid #CCC;
}

#rssNews ul#rss-slider {
  border-top: 0;
}

#rssNews ul li.item-channel {
  min-height: 22px;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #CCC;
  padding: 8px;
  background-color: #fdfdfd;
}

#rssNews ul#rss-slider li.item-channel {
  border-bottom: 0;
}

#rssNews ul li.deploy-item:hover {
  cursor: pointer;
  background-color: #e6e6e6;
  background-position: 5px 15px;
  background-repeat: no-repeat;
  background-image: url(../../../util/icons/arrow/arrowBottom.gif);
}

#rssNews ul li.open:hover {
  background-image: url(../../../util/icons/arrow/arrowTop.gif);
}

#rssNews.rss_tab .rss_type {
  margin-bottom: 0;
  padding-bottom: 0;
}

#rssNews.rss_tab .rss_type a {
  font-size: 1em;
  border-radius: 10px 10px 0 0;
  background-color: #EEE;
  display: inline-block;
  line-height: 1em;
  padding: 1em;
  color: #333;
  border: 0;
  margin: 0 1em 0 0;
}

#rssNews.rss_tab .rss_type a.selected {
  background-color: #5c5c5c;
  color: #FFF
}

#rssNews.rss_tab .channelName-rssNews {
  display: none;
}

#rssNews.rss_tab ul {
  padding: 0;
  margin: 0;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.title-item-rssNews {
  margin: 0;
  padding: 3px 0 0 13px;
}

.title-item-rssNews a {
  color: #333;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}

.title-item-rssNews a:hover {
  color: #1c94d4;
}

.title-item-rssNews a:hover::after {
  opacity: 1;
  content: ' ';
  background: transparent url(../../../util/icons/arrow/link-blank.png) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
}

.channelName-rssNews {
  position: absolute;
  right: 9px;
  top: 3px;
  text-align: right;
  font-size: 13px;
  color: #333;
  max-width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lastUpdate-item-rssNews {
  position: absolute;
  right: 9px;
  top: 19px;
  text-align: right;
  font-size: 11px;
  color: #333;
}

.description-item-rssNews {
  padding: 1.5% 0 0 1.5%;
}

/* FIN flux rss */

.spaceHome .spaceIntro {
  max-height: 100px;
  overflow: hidden;
}

.spaceHome #mainPicture img,
.spaceHome #secondPicture img {
  max-width: 100%;
}

.spaceHome .cg-favorit-list {
  list-style-type: none;
}

.spaceHome #medias-slider .media-title,
.spaceHome #medias-slider .media-description {
  display: none;
}

#spaceUsers ul {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

#spaceUsers div.user-card .avatar {
  float: left;
}

#spaceUsers div.user-card .field {
  width: 200px
}

#spaceUsers div.user-card {
  width: 276px
}

#topar-header #btn-logout {
  display: none;
}

.main-home-page #last-publication-home .sp-path,
.main-home-page #carrousel-actualite .sp-path,
.main-home-page #secondaryNews .sp-path,
.main-home-page #thirdNews .sp-path,
.main-home-page #home-event .sp-path,
.aurora-list-news .sp-path,
.spaceHome #last-publication-home .sp-path {
  display: none;
}

.main-home-page .centered-btns_tabs {
  display: none;
}

.main-home-page #new-users-home,
.principalContent #spaceQuiskInfo {
  display: block;
}

/*********** Aurore News tag as list *******************/

.aurora-list-news .list-news li {
  clear: left;
  margin-bottom: 2em;
  width: 100%;
  height: 100px;
}

.aurora-list-news .list-news .news-date {
  opacity: 0.8;
}

.aurora-list-news .list-news {
  padding: 0;
  height: auto
}

.aurora-list-news .list-news li img {
  width: 200px;
  float: left;
}

.aurora-list-news .list-news .caption {
  margin-left: 206px;
  margin-right: 50px;
}

.aurora-list-news .list-news .caption h2 a,
.aurora-list-news .list-news .caption p {
  color: #444;
  font-size: 13px;
  font-weight: 100;
}

.aurora-list-news .list-news .caption h2 a {
  font-size: 16px;
  font-weight: bold;
}

.aurora-list-news .list-news .caption h2 {
  margin: 0;
}

.aurora-list-news .list-news .caption .news-date:after {
  content: " - ";
}

/************* New users list *****************/
.main-home-page #new-users-home .new-users-list {
  list-style: none;
}

/************* Slideshow ***********/
.spaceHome .carousel li:not(:has(.thumbnail))::before,
.main-home-page  #carrousel-actualite a:has(img[src*='emptyNews'])::before  {
  content:' ';
  background: rgba(255, 255, 255, .5);
  text-align: center;
  flex-basis: 50%;
  display: flex;
  align-content: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23999999' d='M21.11 22.53L18.579 20H4.616q-.672 0-1.144-.472T3 18.385V7.615q0-.67.472-1.143Q3.944 6 4.616 6h1.39v1.427l-4.12-4.12l.714-.713l19.223 19.223zM21 18.184l-5.294-5.3q-.01-.704-.29-1.365q-.28-.66-.78-1.16q-.494-.495-1.154-.774q-.66-.28-1.365-.29L8.173 5.356L9.423 4h5.154l1.85 2h2.958q.67 0 1.143.472q.472.472.472 1.144zm-9-1.452q.671 0 1.286-.231q.614-.23 1.114-.679L9.179 10.6q-.448.5-.679 1.115q-.23.614-.23 1.285q0 1.548 1.09 2.64q1.092 1.09 2.64 1.09m0-1q-1.146 0-1.939-.792T9.27 13q0-.558.207-1.049q.207-.492.595-.88l3.858 3.858q-.389.388-.88.595t-1.05.207'/%3E%3C/svg%3E");
}

.main-home-page #carrousel-actualite a:has(img[src*="emptyNews"]) {
  display:block;
}

.main-home-page  #carrousel-actualite a:has(img[src*='emptyNews']) > img{
  display:none;
}

.main-home-page  #carrousel-actualite a:has(img[src*='emptyNews'])::before {
  display:block;
  width: 100%;
  height:500px;
}

/************* News subscriptions *************/
.subscription-news .listing-news {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap:2em;
  justify-content: flex-start;
  & li {
    flex-basis:250px;
    border: 1px solid rgba(0,0,0,0.1);
    background:#FFF;
    padding: 0;
    margin-bottom: 1.5em;
    position: relative;
    &:hover{
      cursor:pointer;
      border: 1px solid rgba(0,0,0,0.3);
    }
    &.important:before {
      content: '';
      display: block;
      position: absolute;
      right: -10px;
      top: -10px;
      border-radius: 10px;
      width: 20px;
      height: 20px;
      background: #ec9c01 url(/silverpeas/quickinfo/jsp/icons/important.png) center center no-repeat;
      z-index: 100;
    }
    & .content-news-illustration {
      background: #f0f0f0;
      border-bottom: 1px solid #cad2d2;
      display: block;
      aspect-ratio:3/2;
      overflow: hidden;
      align-content: center;
      & img {
        width: 100%;
        z-index: 10;
        position: relative;
        vertical-align: middle;
      }
    }
    & h3 {
      padding:0.5em 1em;
      margin:0;
    }
    & .news-info-fonctionality, .news-teasing {
      padding:0 1.2em 0.25em;
    }
    & .news-info-fonctionality {
      padding:0 1.3em 0.25em;
      color:#333;
      font-size:0.9em;
    }
  }
}

.subscription-news .listing-news li a {
    display: inline-block;
    height: 100%;
}